# Environment
NODE_ENV=production

# Google Sheets
GOOGLE_PROJECT_ID=tu-project-id
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GOOGLE_CLIENT_EMAIL=tu-service-account@tu-proyecto.iam.gserviceaccount.com
GOOGLE_SHEET_ID=tu-sheet-id-aqui

# WhatsApp (opcional, si guardás sesión)
WHATSAPP_SESSION_FILE=./session.json
